body {
    margin: 0;
    height: 100vh;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#root {
    font-family: 'Roboto', sans-serif;    
}
#search-page-frame {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    justify-content: space-between;
}
#search-page-padding-left {
    grid-row: 1;
    grid-column: 1;
}
#search-page-padding-right {
    grid-row: 1;
    grid-column: 3;
}
.search-box-frame {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-query-frame {
    width: 100%;
    border-radius: 16px;
    font-size: 18px;
    border: 1px solid lightgray;
    padding: 0.4em;
    display: flex;
    flex-direction: row;
    padding-left: 0.8em;
}
.search-query-frame:hover {
    box-shadow: 0 0 10px lightgray;
}
.search-button {
    font-size: 14px;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 4px;
    background: rgb(248, 249, 250);
    cursor: pointer;
    margin: 20px 10px 0 10px;
    /* adding a 1px transparent border makes it so the element doesn't shift vertically when
       we add a 1px visible border on hover */
    border: 1px solid transparent;
}
.search-button:hover {
    border: 1px solid lightgray;
    box-shadow: 0 0 4px lightgray;
}
#search-query {
    width: 100%;
    font-size: 18px;
    border: none;
}
#search-query:focus {
    outline: none !important;
}
.magnifying-glass-icon, .back-button-icon {
    height: 24px;
    width: 24px;
    margin-right: 0.4em;
}
.search-button-container {
    text-align:center;
}
.some-jackass {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-image: url("/static/img/social.png");
    background-position: center;
    background-size: 120px;
    margin-bottom: 20px;
}
#result-page-frame {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    justify-content: space-between;
}
#result-page-padding-left {
    grid-row: 1;
    grid-column: 1;
}
#result-page-padding-right {
    grid-row: 1;
    grid-column: 3;
}
#result-page-content-frame {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 150px;
}
.result-header-container {
    grid-row: 1;
    grid-column: 2;
    border-radius: 16px;
    font-size: 18px;
    border: 1px solid lightgray;
    /* padding: 0.4em; */
    display: flex;
    flex-direction: row;
    /* padding-left: 0.8em; */
}
.back-button-icon {
    cursor: pointer;
    margin: 0.4em 0;
    margin-left: 0.8em;
}
.result-query {
    cursor: pointer;
    margin: 0.4em;
}
.result-blocks-frame {
    width: 800px;
    height: 100vh;
}
.result-block {
    border: 1px solid lightgray;
    /* border color is set in the JS */
    border-radius: 16px;
    border-width: 6px;
    font-size: 18px;
    margin-top: 20px;
}
.result-block-logo {
    height: 30px;
    width: 30px;
    border: 1px solid lightgray;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
}
.result-block-logo:hover {
    box-shadow: 0 0 10px lightgray;
}
.result-block-header {
    margin: 1em;
}
.result-block-header-href {
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}
.result-block-raw-link-href {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    display: block;
}
.result-block-buttons {
    margin: 1em;
}
.result-block-text {
    margin: 1em;
    cursor: text; 
}
.result-block-header-href:hover {
    opacity: 0.65;
}
.result-block-raw-link-href:hover {
    opacity: 0.65;
}